.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.suggestions-list li {
  cursor: pointer;
  background-color: #f8f9fa;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.suggestions-list li:hover {
  background-color: #e9ecef;
}
